.app-admin {
    background-color: var(--while-color);
}

.header {
    background-color: var(--primary-color);
    height: 40px;
}

.header .header__welcom a {
    color: var(--while-color);
    text-decoration: none;
    padding: 2rem 1.2rem;
}

.header__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 7rem;
    font-size: 2rem;
    padding: 0 2rem;
}

.header__logo {
    padding-top: 1rem;
    padding-left: 12rem;
}

.header__logo img {
    width: 40px;
    height: 40px;
}

.header .header__welcom {
    position: relative;
}

.header .header__welcom:hover .header__profile-list {
    display: block;
}

header .header__profile-list {
    display: none;
    position: absolute;
    list-style: none;
    top: 6rem;
    font-size: 1.5rem;
    min-width: 16rem;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--primary-color);
    left: 1.2rem;
}

.header .header__profile-item {
    line-height: 4rem;
    border-top: 1px solid var(--border-color);
}

.header .header__profile-item a {
    display: block;
    text-decoration: none;
    padding: 0 1.2rem;
}

.header .header__profile-item a:hover {
    background-color: var(--second-color);
}

.header__item {}

.header__item {}


/* ==============================SIDE BAR========================= */

.sidebar {}

.sidebar__list {
    font-size: 2.2rem;
    list-style: none;
    line-height: 7rem;
    background-color: var(--primary-color);
    height: 100vh;
    display: block;
    text-align: center;
}

.sidebar .sidebar__item {
    border-bottom: 4px solid var(--border-color);
    line-height: 7rem;
}

.sidebar .sidebar__item-link {
    display: block;
    text-decoration: none;
    line-height: 100%;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    color: var(--while-color);
    transition: all .3s;
}

.sidebar .sidebar__item-link:hover {
    padding-left: 1rem;
    background-color: var(--second-color);
}


/* ================================CONTAINER=============================== */

#content {
    border: var(--primary-color);
    margin-top: 6rem;
    font-size: 1.6rem;
    border-collapse: collapse;
    width: 100%;
    line-height: 4rem;
    padding-left: 0;
    color: var(--text-color);
    font-weight: 500;
    background-color: var(--while-color);
}

#content,
th,
td {
    border: 3px solid var(--primary-color);
    text-align: center;
    padding: 0 1rem;
    line-height: 3rem;
}


/* ========================FORM======================== */

form {
    /* margin-top: 4rem; */
    font-size: 1.5rem;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-group .form-message {
    display: block;
}

.form-group+.form-group {
    margin-top: 2rem;
}

.form-group__image {
    height: 100px;
    margin-bottom: 2.7rem;
}

.form-group p {
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-control {
    padding: 1.2rem;
    border-radius: 4px;
    font-weight: 500;
}

.group-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.group-btn a+a {
    margin-left: 1rem;
}


/* ================SELECTBOX================ */

.options {
    display: flex;
    margin-top: 1rem;
    list-style: none;
    font-size: 1.6rem;
    line-height: 1rem;
    align-items: center;
    justify-content: space-around;
}

.options .options__loadPageIndex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options .options__loadPageIndex #pageIndex {
    margin-left: 1rem;
}


/* =============FORM=================== */

.formData {
    display: block;
    min-width: 1000px;
    padding: 3rem 0;
    border-radius: 4px;
}

.formData p {
    min-width: 10rem;
    padding-left: 2rem;
}

.formData__input {
    height: 40px;
    width: 100%;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.form__header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--primary-color);
    padding: 2rem 0 0 0;
    user-select: none;
}

.form__modal--product {
    display: none;
}

.form__modal--images {
    background-color: var(--while-color);
    display: none;
    width: 60%;
    min-width: 450px;
    margin: 20px auto;
    padding: 36px 20px;
    border-radius: 7px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
}

.form__modal--images .group-btn {
    margin-top: 50px;
    padding-top: 20px;
}

.form__modal--images figure {
    width: 20%;
    border: 1px solid black;
    overflow: hidden;
}

.form__modal--images figcaption {
    text-align: center;
    font-size: 2.4vmin;
    margin-top: 0.5vmin;
}

#imageList img {
    width: 100%;
}

select,
option {
    padding: 1rem 2rem;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}

.dropdownCategory {
    justify-content: flex-start;
}

.dropdownBrand {
    justify-content: flex-start;
}

.imageListk {
    display: flex;
}

.imageListk div+div {
    margin-left: 1rem;
}

#formImage {
    background-color: var(--while-color);
    width: 60%;
    min-width: 450px;
}

input[type="file"] {
    display: none;
}

label[for="Image"] {
    display: block;
    font-size: 14px;
    background-color: var(--while-color);
    text-align: center;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imageList {
    display: flex;
    margin: 0 1rem 0 0;
    justify-content: space-evenly;
    width: 100px;
    height: 100%;
}

#imageList img {
    border-radius: 4px;
}

#preview-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    justify-content: space-evenly;
}

#preview-image figure {
    width: 200px;
    height: 200px;
    margin-bottom: 6px;
    border-radius: 4px;
}

#preview-image figure img {
    height: 85%;
    width: 100%;
}

#preview-image figcaption {
    font-size: 14px;
    line-height: 14px;
    padding: 0 2rem;
    overflow: hidden;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* #num-of-files {
    text-align: center;
    font-size: 18px;
} */

.container-image {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}