* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.main {
    font-family: 'Roboto', sans-serif;
}


/* ================================================================= */


/* ==================================SIDE BAR========================== */


/* ================================================================= */

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

#check {
    display: none;
}

label #btn,
label #cancel {
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked~.sidebar {
    left: 0;
}

#check:checked~label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    left: 195px;
}

#check:checked~.container {
    margin-left: 250px;
}


/* ================================================================= */


/* ==================================CONTAINNER========================== */


/* ================================================================= */

.container {
    background: url(../images/bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    height: 100vh;
    transition: all .5s;
}

#table-content {
    border-collapse: collapse;
    width: 100%;
    color: white;
    margin-top: 100px;
}

#table-content i {
    font-size: 18px;
    color: #000;
}

#table-content .fa-edit {
    color: green;
}

#table-content .fa-trash-alt {
    color: red;
}

#table-content thead {
    background: var(--primary-color);
    color: white;
}

#table-content td,
th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

table {
    min-width: 1200px;
    width: 100% !important;
}


/* ================================================================= */


/* ==================================LOGIN========================== */


/* ================================================================= */

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background: url(/assets/images/bgLogin.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 400px;
    background: white;
    padding: 60px 40px;
    border-radius: 5px;
}

.login__header {
    font-size: 40px;
    margin-bottom: 60px;
    font-weight: 500;
}

.input-field,
form .button {
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
}

.input-field input {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
}

input:focus {
    border: 1px solid #1DA1F2;
}

input:focus~label,
input:valid~label {
    transform: translateY(-35px);
    background: white;
    font-size: 16px;
    color: #1DA1F2;
}

.input-field label,
span.show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-field label {
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
}

span.show {
    right: 20px;
    color: #111;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    visibility: hidden;
}

input:valid~span.show {
    visibility: visible;
}

form .button {
    margin-top: 30px;
    overflow: hidden;
    z-index: 111;
}

.button .inner {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    z-index: -1;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    transition: .4s;
}

.button:hover .inner {
    left: 0%;
}

.button button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.container .auth {
    margin: 35px 0 20px 0;
    font-size: 19px;
    color: grey;
}

.links {
    display: flex;
    cursor: pointer;
}

.facebook,
.google {
    height: 40px;
    width: 100%;
    border: 1px solid silver;
    border-radius: 3px;
    margin: 0 10px;
    transition: all .4s;
}

.facebook:hover {
    border: 1px solid #4267B2;
}

.google:hover {
    border: 1px solid #dd4b39;
}

.facebook i,
.facebook span {
    color: #4267B2;
}

.google i,
.google span {
    color: #dd4b39;
}

.links i {
    font-size: 23px;
    line-height: 40px;
    margin-left: -90px;
}

.links span {
    position: absolute;
    font-size: 17px;
    font-weight: bold;
    padding-left: 8px;
}

.signup {
    margin-top: 50px;
}

.signup a {
    color: #3498db;
}

.signup a:hover {
    text-decoration: underline;
}